<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/index}" th:object="${index}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Message: <input type="text" th:field="*{content}" /></p>
        <!--  draft the form as per the assignment is asking here!!  -->
        
        <p>FirstName: <input type="text" th:field="*{firstName}" /></p>
        <p>MiddleName: <input type="text" th:field="*{middleName}" /></p>
        <p>LastName: <input type="text" th:field="*{lastName}"/></p>
        
       
        
        <p><input type="submit" value="Submit" /> 
        <input type="reset" value="Reset" /></p>
    </form>
</body>